/* Primary CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Overlay Thingy */
#outer-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(assets/building.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#inner-section {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: auto;
  /* flex-direction: column; */
  /* text-align: center; */
}

/* Utility Classes */
.text-center {
  text-align: center !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

/* Form Styling */

.container {
  /* Touch this! */
  margin: 20px 0px;
  padding: 30px;
  background: transparent;
  max-width: 1100px;
} 

.form-wrap {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .title {
  color: white;
  margin-bottom: 10px;
}

.info {
  color: white;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.form-group {
  width: 100%;
}

.form-group .input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-group .input-group input.form-control {
  padding: 10px;
  /* border-radius: 5px; */
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 300px;
}

/* Postpend */
.form-group .input-group .input-group-postpend {
  padding: 10px;
}

.form-group .input-group .input-group-postpend .input-group-text {
  border: 1px solid white;
  border-radius: 0px 5px 5px 0px;
  padding: 9px;
  color: black;
  background: rgba(255, 250, 250, 0.455);
  margin-left: -7px;
}


/* Results Section */

#results {
  /* Set this to none later */
  display: none;
}

.results-wrap {
  /* border: 1px solid red; */
  width: 100%;
}

#results h3 {
  color: white;
  margin-bottom: 5px;
}

.results-wrap .form-group .input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /* width: 100%; */
}


/* Prepend */
.form-group .input-group .input-group-prepend {
  padding: 11px;
}

.form-group .input-group .input-group-prepend .input-group-text {
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
  padding: 9px;
  color: black;
  background: rgba(255, 250, 250, 0.455);
  margin-right: -9.5px;
}


.form-group .input-group input.results-control {
  padding: 10.9px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 250px;
}

/* Placeholder text */
::-webkit-input-placeholder { /* Edge */
  font-size: 0.7em;
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 0.7em;
  color: black;
}

::placeholder {
  font-size: 0.7em;
  color: black;
}

.btn-block {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.373);
}

/* Adjust input and postpend */

@media only screen and (max-width: 900px) {
  .form-group .input-group input.form-control {
    width: 55vw;
  }
  .form-group .input-group .input-group-postpend .input-group-text {
    font-size: 0.7em;
    padding: 10px;
  }

  .form-group .input-group .input-group-postpend {
    margin-top: -2px;
  }

  .form-group .input-group input.results-control {
    width: 47vw;
  }
  .form-group .input-group .input-group-prepend .input-group-text {
    font-size: 0.7em;
    padding: 10px;
  }

  .form-group .input-group .input-group-prepend {
    margin-top: -2px;
  }

  img.loader {
    display: none;
    /* display: block; */
    margin: 10px auto;
    width: 50%;
    height: 50%;
  }
  
}

@media only screen and (max-width: 600px) {
  .form-group .input-group input.form-control {
    width: 45vw;
  }

  .results-wrap .form-group .input-group {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-group .input-group input.results-control {
    width: 40vw;
    padding: 9px;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: 0.6em;
    color: black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 0.6em;
    color: black;
  }
  
  ::placeholder {
    font-size: 0.6em;
    color: black;
  }

  .form-group .input-group .input-group-postpend {
    margin-top: -2px;
  }

  .form-group .input-group .input-group-postpend .input-group-text {
    font-size: 0.7em;
    padding: 10px;
  }

  
  .form-group .input-group .input-group-prepend {
    margin-right: 4px;
    padding: 7px;
  }

  .form-group .input-group .input-group-prepend .input-group-text {
    font-size: 0.5em;
    padding: 10px;
  }

  img.loader {
    display: none;
    /* display: block; */
    margin: 10px auto;
    width: 50%;
    height: 50%;
  }
}


/* The loader */

img.loader {
  display: none;
  /* display: block; */
  margin: 10px auto;
  width: 50%;
  height: 50%;
}











